.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 4rem;
  min-height: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  /*font-family: 'Nanum Gothic Coding', monospace;*/
}

.header-line {
  border-bottom: 1px solid #eee;
  background-color: rgba(255,255,255,0.75);
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #d4b9f7;
  color: white;
}

.font-eng {
  font-family: 'Asap', sans-serif;
}

.font-kor {
  font-family: "Nanum Gothic Coding", monospace;
}

.y-column.is-offset-one-quarter {
  margin-left: 20%;
}

.y-column.is-half {
  -webkit-box-flex: 0;
  flex: none;
  width: 60%;
}

.y-tag.is-primary {
  font-weight: 600;
  font-size: 12px;
  border: 1px solid #9b9b9d;
  border-radius: 4px;
  padding: 6px;
  color: #000;
}