<section class="hero is-primary is-small">
    <div class="hero-body">
        <!--<div class="container has-text-centered">
            <p class="title is-1 font-eng" style = "margin-bottom: 1.8rem important!;">
                {{site.title}}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>-->
        <div class="toggle-container">
            <input type="checkbox" role="switch" id="normal-switch" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
        </div>
    </div>
</section>