---
layout: default
---

<div style="margin-left: auto; margin-right: auto; padding: 2.4375rem 1.21875rem;">
    <div class="container">
        <div class="heading has-text-centered">
            <p class="title is-3">{{page.title}}</p>
            <p class="subtitle is-6"><span class="tag is-white"><small>{{ page.date | date: '%B %d, %Y'}}</small></span></p>
        </div>
        <br><br><br>
        <div class="columns is-multiline">

            <div class="y-column is-half is-offset-one-quarter">
                <div class="content">
                    {{content}}
                </div>

                <hr>

                {% for tag in page.tags %}
                    <span class="y-tag is-primary font-eng">{{tag}}</span> 
                {% endfor %}
            </div>
        </div>
        <div>
            <hr>
            {% include disqus_comments.html %}
        </div>
    </div>
</div>>